
html,
body {
  height: 100%;
  background-color: #333;
}

.self-introduction{
  color:white;
  text-indent:2em;
}

.deco{
	margin-left:20px;
	border-left: 3px white solid;
	color: white;
	text-indent:10px;
}





