<!DOCTYPE html>
<html>
<head>
	<title>Update Plan</title>
</head>
<body>
<p>I'm thrilled that you can find this page!!!</p>
<p>And follow it's the update I want to make to this website and the updates that have already been made.</p>
<p>Update:</p>
<p>1.Blog Function[takes 2 weeks]</p>
<p>Bug:</p>
<p>1.limited space in Me.html</p>
<p>Previous Update:</p>
<p>1.Reorganize Me.html 2018/5/4</p>
<p>2.Zip the picture in the first page so user can access the first page more quickly. 2018/5/4</p>

<p>Keep learning!Chao at 2018/5/4 12pm</p>
</body>
</html>